// theme color
$c-secondary: #26a69a;
$c-accent: #9c27b0;
$c-dark: #1d1d1d;
$c-positive: #21ba45;
$c-positive: #0a6c31;
$c-negative: #c10015;
$c-info: #31ccec;
$c-warning: #f2c037;
$c-white: #ffffff;
$c-mint: #00ffff;
$c-light-purple: #f2eef8;
$c-light-purple-1: #d7cce5;

// primary color
$c-primary: #7c33ff;

// grey color
$c-grey-0: #fbfbfb;
$c-grey-1: #f4f4f4;
$c-grey-2: #eaeaea;
$c-grey-3: #e0e0e0;
$c-grey-4: #dddddd;
$c-grey-5: #b2b2b2;
$c-grey-6: #aaaaaa;
$c-grey-7: #666666;
$c-grey-8: #717171;
$c-grey-9: #888888;

// component
$stepper-color: #eaeaea;
$footer-bg-color: #111111;

// page background
$page-bg-default: $c-grey-0;

// text
$text-c-default: #111111;

// footer
$c-footer: #6b6b6b;
