// layout
$header-height: 4.5rem;
$inquiry-footer-height: 3.5rem;

// border
$border-default: 1px solid #{$c-grey-1};
$border-disabled: 1px solid #{$c-grey-1};
$border-flat-button-active: 1px solid #{$c-grey-9};
$border-header: 1px solid #{$c-grey-4};

// font
$f-sz-h1: 34px;
$f-sz-h2: 30px;
$f-sz-h3: 22px;
$f-sz-h4: 20px;
$f-sz-xl: 20px;
$f-sz-l: 18px;
$f-sz-default: 16px;
$f-sz-sm: 14px;
$f-sz-xs: 12px;

// gutter
$gutter-default: 30px;
$gutter-half: 15px;
